<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ZK_IP" value="192.168.1.201"/>
    <add key="ZK_PORT" value="4370"/>
    <add key="API_URL" value="http://localhost:3000/api/employeelogs/"/>
  </appSettings>
</configuration>